/* FullCalendar container */
#calendar {
    max-width: 90%;
    margin: 0 auto;
    background-color: var(--container-bg); 
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    text-shadow: 1px 1px 2px var(--shadow-color);
    height: 600px; 
}

/* FullCalendar header toolbar */
.fc-toolbar {
        background-color: #f5f5f5e0; /* Set a light background for the toolbar */
        box-shadow: inset -1px -5px 20px var(--shadow-color);
    }

.fc-toolbar-title {
    font-size: 1.5em;
    color: #4169E1;
    text-shadow: 2px 2px 2px var(--shadow-color);
}

/* FullCalendar buttons */
.fc-button {
    background-color: var(--button-bg);
    border-color: var(--border-color);
    color: var(--text-color);
}

.fc-button:hover {
    background-color: var(--button-hover-bg);
}

/* FullCalendar event styles */
.fc-event {
    background-color: var(--button-hover-bg);
    border-color: var(--border-color);
    color: var(--text-color);
}

.fc-event:hover {
    background-color: var(--button-hover-bg);
    cursor: pointer;
}

/* FullCalendar day grid */
.fc-daygrid-day {
    background-color: #ffffff;
    border: 10px solid #333;
    box-shadow: inset -1px -1px 10px var(--shadow-color);
}
/* FullCalendar day number styling */
.fc-daygrid-day-number {
    font-size: 1.2em;
    color: #aaaaaa;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    #calendar {
        height: 400px;
    }
}

/* Customize selected event */
.fc-event-selected {
    background-color: var(--button-hover-bg);
}

/* FullCalendar padding/margin reset */
.fc {
    margin: 0;
    padding: 0;
}
